* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ddf6fc;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;   
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

a {
    text-decoration: none;
}

.section-margin {
    margin-bottom: 100px;
}

/*font-size for text*/
.small-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.medium-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.big-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

/* flex */
.flex {
    display: flex;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-ai-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-column-ai-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CТИЛИ ДЛЯ ВОПРОСОВ-ОТВЕТОВ */
.quiz {
    margin: 0 auto;
    width: 600px;
}

.quiz-questions {

}

.quiz-questions__item {
    margin-bottom: 20px;
    margin-top: 50px;
}

quiz-questions__item--question {
    margin-bottom: 20px;
    margin-top: 50px;
}

.quiz-questions__item--answers {
    margin: 0;
    padding: 0;
    list-style: none;
}

.quiz-indicator {
    margin-bottom: 20px;
}

.btn-next {

}

.btn-restart {
    display: none;
}

.quiz-results {
    display: none;
}

.question--hidden,
.indicator--hidden,
.btn-next--hidden {
    display: none;
}

.indicator--visible,
.btn-restart--visible {
    display: block;
}