* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ddf6fc;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;   
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.page-title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    margin: 0;
    padding: 30px 0; /*верх/низ - первое значение, лево/право - второе*/
    text-align: center;
}

a {
    text-decoration: none;
}

.section-margin {
    margin-bottom: 60px;
}

/*font-size for text*/
.small-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.medium-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.big-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
}

/* flex */
.flex {
    display: flex;
}

.flex-sb {
    display: flex;
    justify-content: space-between;
}

.flex-ai-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-column-ai-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* кнопки перехода между страницами*/
.go-page .btn-page {
    margin-right: 20px;    
    margin-left: 20px;
}

.btn-page {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border: 1px solid grey;  
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
}

.btn-page a {
    color: #282c50;
}

.btn-page__main {
    width: 100px;
    background-color: #f3e2fc;
}

.btn-page__main:hover {
    background-color: #e2c4f1;
    font-weight: 600;
}

.btn-page__back,
.btn-page__next {
    background-color: #b0b7f8;
    width: 90px;
}

.btn-page__back:hover,
.btn-page__next:hover {
    background-color: #99a3f8;
}

.btn-page__back img {
    margin-right: 5px;
}

.btn-page__next img {
    margin-left: 3px;
}











/* CТИЛИ ДЛЯ ВОПРОСОВ-ОТВЕТОВ */
.quiz {
    margin: 0 auto;
    width: 600px;
}

.quiz-questions {

}

.quiz-questions__item {
    margin-bottom: 20px;
    margin-top: 50px;
}

quiz-questions__item--question {
    margin-bottom: 20px;
    margin-top: 50px;
}

.quiz-questions__item--answers {
    margin: 0;
    padding: 0;
    list-style: none;
}

.quiz-indicator {
    margin-bottom: 20px;
}

.btn-next {

}

.btn-restart {
    display: none;
}

.quiz-results {
    display: none;
}

.question--hidden,
.indicator--hidden,
.btn-next--hidden {
    display: none;
}

.indicator--visible,
.btn-restart--visible {
    display: block;
}